.button {
    position: relative;
    outline: none;
    margin: 0;
    border: none;
    padding: 0 2rem;
    line-height: 2rem;
    font-size: 0.75rem;
    font-family: inherit;
    letter-spacing: 1px;
    background: transparent;
    cursor: pointer;
    transition-property: opacity, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    pointer-events: all;
    color: var(--primary-color-1);
}

.button:hover {
    color: var(--bg-color);
}

.button-frame {
    z-index: -1;
}

.button-frame [data-name=bg] {
    color: var(--secondary-color-4-transparent);
}

.button-frame [data-name=line] {
    color: var(--secondary-color-5);
}

.button:hover .button-frame [data-name=bg] {
    color: var(--secondary-color-4);
}