.interface {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
}

body {
    background-color: black;
    color: white;
}

button {
    position: relative;
    z-index: 1000;
}

@view-transition {
    navigation: auto;
    types: slide;
}

div {
    user-select: none;
    -moz-user-select: none;
}

.modal-frame [data-name=bg] {
    color: var(--secondary-color-3-transparent);
}

.modal-frame [data-name=line] {
    color: var(--secondary-color-5);
}

.page-frame [data-name=bg] {
    color: var(--primary-color-3-transparent);
}

.page-frame [data-name=line] {
    color: var(--primary-color-5);
}