.modal-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 100;
    pointer-events: none;
}

.modal-blocking {
    pointer-events: auto;
    backdrop-filter: blur(3px);
}

.modal {
    margin: auto;
    background-color: var(--bg-1);
    border-radius: 20px;
    pointer-events: auto;
    overflow: hidden;
    filter: drop-shadow(10px 7px 4px var(--drop-shadow-color));

    animation: modal-appear 0.3s ease-out;
}

.modal-title {
    padding: 10px;
    background-color: var(--bg-hl-1);
}

.modal-body {
    margin: 20px;
}

@keyframes modal-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}